<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	<parameter name="baseUrl"
		value="https://petstore.swagger.io/v2" />
	<listeners>
		<listener class-name="com.felixgear.petstores.utils.DynamicGroupSelector" />
		<listener class-name="org.testng.reporters.XMLReporter" />
	</listeners>
	<test name="DynamicGroups">
		<packages>
			<package name="com.felixgear.petstores.pet" />
			<package name="com.felixgear.petstores.person" />
			<package name="com.felixgear.petstores.store" />
		</packages>
	</test>
</suite>